body {background-color: #505050;}
.rectangle_header {
	position:relative;
	background-color: #909090;
	margin: 0 auto;
	margin-top: 30px;
	width: 80%;
	height: 20%;
	border-radius: 25px;
	box-shadow: 17px 15px 12px #010101;
}

.img_petite {
	float:right;
	width:3%;
}

.day_42_img {
	float:left;
	width:35%;
	margin-top: 1%;
}

.loupe_img {
	position:relative;
	width:21%;
	left : 40%;
	margin-top: 1.5%;
}

.reload_img{
	width:30px;
	margin-top:11px;
	margin-bottom:158px;
	margin-right:-2.5%;
}

.close_gif{
	width:30px;
	margin-top: 9.5%;
	margin-right:-1.6%;
}

.mother {
	margin:0 auto;
	width:70%;
	text-align:center;
}

.rectangle_left {
	vertical-align:top;
	background-color:#909090;
	height:500px;
	width: 7%;
	border-radius: 25px;
	box-shadow: 17px 15px 12px #010101;
}

img {
	width:100%;
}

.img_left {
	margin:0 auto;
	width:55%;
}

.rectangle_middle {
	background-color:#909090;
	width: 55%;
	border-radius: 25px;
	box-shadow: 17px 15px 12px #010101;
}

.img_middle {
	padding: 15px 15px;
}

.rectangle_right {
	vertical-align:top;
	background-color:#909090;
	height:500px;
	width: 7%;
	border-radius: 25px;
	box-shadow: 17px 15px 12px #010101;
}

.img_right {
	margin:0 auto;
	width:60%;
}

.contour {
	border:5px solid red;
	border-radius:10px;
	margin: 5px 0px;
}

.brick {
	margin-top:10px;
	width:90%;
	padding-left:8px;
}

.brick>img {
	width:25%;
	margin:-2px;
}

.green_rectangle {
	position:absolute;
	background-color:#87FE89;
	width:24%;
	height:17%;
	top:78%;
	left:14%;
	border-radius: 25px;
	box-shadow: 17px 15px 12px #010101;
}

.normal_txt {
	font-family: Georgia;
	font-size: 22;
	margin-left: 3%;
	margin-top: 0.1%
}

.big_txt {
	font-size:45;
}

.shadow_txt {
	display:inline-block;
	text-shadow: 5px 5px  4px red;
}
.italic_txt {
	font-family: Georgia;
	font-size: 22;
	font-style: italic;
	margin-left: 3%;
	margin-top: -3%;
}

.form_area {
	margin-top: -3%;
	margin-left: 3%;
}

#input_txt {
	width: 75%;
	border: 2px solid #C1CCBF;
}

#form_button {
	font-size: 15;
}

.ikea_zone {
	position:absolute;
	width: 3%;
	height: 9%;
	left: 42%;
	bottom: 28%;
}

.apple_zone {
	position:absolute;
	width: 9%;
	height: 11%;
	left: 65%;
	bottom: 28%;
}
